# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python

# Virtual Environment
venv/
myenv/
env/
ENV/

# Django
*.log
*.pot
*.sqlite3
db.sqlite3
/staticfiles/
/mediafiles/
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db

# Node (jeśli używasz frontendu)
node_modules/
npm-debug.log
yarn-error.log
