
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    
    container_name: ft_transcendence_backend
    
    ports:
      - "8000:8000"

    volumes:
      - ./backend:/app
    
    command: sh -c "cd plantapp && daphne -b 0.0.0.0 -p 8000 mysite.asgi:application"
    
    restart: unless-stopped
    depends_on:
      backend-migrate:
        condition: service_completed_successfully
  backend-migrate:
    build:
      context: ./backend
      dockerfile: Dockerfile
    
    container_name: ft_transcendence_backend_migrate
    
    volumes:
      - ./backend:/app
    command: sh -c "cd plantapp && python manage.py migrate"
    
    restart: "no"



  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    
    container_name: ft_transcendence_frontend
    
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - NEXT_PUBLIC_WS_URL=ws://localhost:8000
    
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  frontend_node_modules:

