
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    
    container_name: ft_transcendence_backend
    
    ports:
      - "8000:8000"
    
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-development-key-change-this-in-production
      - ALLOWED_HOSTS=localhost,127.0.0.1,backend
      - DATABASE_URL=sqlite:///db.sqlite3

    volumes:
      - ./backend:/app

    command: sh -c "cd plantapp && python manage.py migrate && daphne -b 0.0.0.0 -p 8000 mysite.asgi:application"
    
    restart: unless-stopped



  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    
    container_name: ft_transcendence_frontend
    
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - NEXT_PUBLIC_WS_URL=ws://localhost:8000
    
    volumes:
      - ./frontend:/app
      - /app/node_modules

    restart: unless-stopped

