/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background-color: #000;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }

  body {
    @apply text-white antialiased;
  }
}
